/* loading modal  */

.page_loader_box {
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
}

.LoadingModalImage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.network_types {
    cursor: pointer;
}

.loading_box_text_001 {
    text-align: center;
    color: #1A2D72;
    font-size: 18px;
    font-weight: 800;
}

.loading_box_text_002 {
    text-align: center;
    color: #1A2D72;
}

.loading {
    justify-content: center;
    display: flex;
    align-items: center;
}

.obj {
    width: 6px;
    height: 40px;
    background: #1A2D72;
    margin: 0 3px;
    border-radius: 5px;
    animation: loading 0.8s infinite;
}

.obj:nth-child(2) {
    animation-delay: 0.1s;
}

.obj:nth-child(3) {
    animation-delay: 0.2s;
}

.obj:nth-child(4) {
    animation-delay: 0.3s;
}

.obj:nth-child(5) {
    animation-delay: 0.4s;
}

.obj:nth-child(6) {
    animation-delay: 0.5s;
}

.obj:nth-child(7) {
    animation-delay: 0.6s;
}

.obj:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}
.wallet_sec{
    padding: 2rem;
}
.footer{
    background: #1b1e21;
    color: #FFF;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    text-decoration: none;
    color: #FFF;
}
.no_data_found_text {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #CFCFCF;
    position: relative;
    padding: 50px !important;
    width: 100%;
}
.modal-header{
 padding: 2rem;
}
.modal-header > button{
    position: absolute;
    right: 2rem;
}
.modal-content{
    border-radius: 3rem;
}
