.button_box {
  text-align: center;
  margin: 1rem 3rem;
  .wallet_button {
    display: inline-block;
    font-family: 'Poppins';
    color: #FFF;
    padding: 0.5rem 2rem;
    border: 2px solid #FFF;
    border-radius: 4rem;
    background: #000;
    @media screen and (max-width: 500px) {
      font-size: 0.5rem;
    }
  }

  .wallet_button:active {
    background: #5D5D5D;
  }

  .approve_button {

  }
}
